{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About page{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>About</h1>
    </div>
    <div id="msg">Hello</div>
    <div>
        <p></strong>You've visited this rango {{ visits }} times.</p>
        <img width="300" height="250" src="{% static "images/about.jpg" %}" alt="about Picture of Rango" />
    </div>
    <button onClick="alert('You clicked the button using Javascript.');">
        Click me - I run Javascript
    </button>
    <button id="about-btn"> Click Me - I'm Javascript on Speed</button>
    <p>This is an example</p>
    <p>This is another example</p>
{% endblock %}
