<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...hello world!</h1>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        {% if most_viewd_pages %}
        	<ul>
        		{% for most_viewd_page in most_viewd_pages %}
        		<li><a href="{{ most_viewd_page.url }}">{{ most_viewd_page.title }}</a></li>
        		{% endfor %}
        	</ul>
        {% endif %}

        <a href="/rango/about/">About</a><br />
        <a href="/rango/add_category/">Add a New Category</a><br />
    </body>
</html>
