{% extends "base.html" %}

{% load staticfiles %}

{% block body_block %}
    {% if registered %}
        <strong>Your picture and website are registered!</strong>
    {% else %}
        <strong>Upload your picture and website here!</strong><br />

        <form id="profile_form" method="post" action="{% url 'register_profile' %}" enctype="multipart/form-data">

            {% csrf_token %}

        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
{% endblock %}