{% extends "base.html" %}

{% load staticfiles %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h1>Username: {{ user.username }}</h1>
        {% if user.username == username %}
            <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
        {% endif %}
        <p>E-mail: {{ user.email }}</p>
        <p>Website: <a href="{{ user_profile.website }}">{{ user_profile.website }}</p>
        <img src="{{ user_profile.picture.url }}" alt="Your picture" class="img-thumnail">
    {% endif %}
{% endblock %}